.ProductCard {
  position: relative;
  cursor: pointer;
  width: 220px;
  height: 350px;
  background-color: #f6f6f8;
  border-radius: 20px;
  transition: transform 100ms;
  &:hover {
    transform: scale(1.02);
  }
  .ProductCard_image {
    width: 220px;
    height: 78.9%;
    background-color: #f6f6f8;
    border-bottom: 2px solid #ff5650;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 100%;
    }
  }

  .ProductCard_title {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .ProductCard_rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #fcfcfc;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(110%);
    font-weight: 600;
  }
}
