.Search {
  margin: 0 auto;
  width: 88vw;
  height: auto;

  .Search_result {
    margin: 0 auto;
    padding: 40px 0;
    width: 65%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px 80px;
  }

  .Search_not_found {
    text-align: center;
    padding: 40px 0;
    font-size: 18px;

    span {
      color: #ff5650;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
}
