.UserNavigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .UserNavigation_left {
        height: 100%;
        display: flex;
        align-items: center;

        img {
            margin-right: 40px;
            height: 18px;
            filter: invert(15%) sepia(10%) saturate(5%) hue-rotate(321deg) brightness(102%) contrast(86%);

            &:hover {
                cursor: pointer;
            }
        }
    }

    .UserNavigation_right {
        display: flex;
        align-items: center;
        margin-left: 90px;

        img {
            height: 18px;
            filter: invert(15%) sepia(10%) saturate(5%) hue-rotate(321deg) brightness(102%) contrast(86%);

            &:hover {
                cursor: pointer;
            }
        }
    }

    .UserNavigation_publish_modal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #333;

        form {
            width: 80%;
            margin-top: 50px;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .UserNavigation_form_input {
                width: 100%;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;

                label {
                    margin-left: 5px;
                    margin-bottom: 5px;
                    font-size: 14px;
                    letter-spacing: 0.8px;
                    font-weight: 700;
                }

                input {
                    height: 35px;
                    padding: 0 5px;
                    border: 2px solid #dadbe2;
                    border-radius: 5px;

                    &:focus {
                        outline: none;
                        border: 2px solid #df373193;
                    }
                }

                select {
                    height: 35px;
                    padding: 0 5px;
                    border: 2px solid #dadbe2;
                    border-radius: 5px;

                    &:focus {
                        outline: none;
                        border: 2px solid #df373193;
                    }
                }

                textarea {
                    resize: none;
                    font-family: 'Roboto';
                    height: 150px;
                    width: 100%;
                    padding: 5px;
                    border: 2px solid #dadbe2;
                    border-radius: 5px;

                    &:focus {
                        outline: none;
                        border: 2px solid #df373193;
                    }
                }

                input[type="file"]{
                    display: none;
                }

                // .UserNavigation_product_formError {
                //     margin: 0 10px;
                //     font-size: 12px;
                //     font-weight: 500;
                //     color: red;
                // }

                .UserNavigation_form_image_select{
                    text-align: center;
                    letter-spacing: 0.5px;
                    width: 40%;
                    font-size: 12px;
                    font-weight: 500;
                    display: inline-block;
                    padding: 5px;
                    cursor: pointer;
                    border: 2px solid #dadbe2;
                    border-radius: 5px;
                    transition: transform 250ms ease;
                    transform: scale(0.98);
                    &:hover {
                        transform: scale(1);
                    }
                }
            }

            .UserNavigation_form_images_selected{
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 60px;

                img{
                    width: auto;
                    height: 70px;
                }
            }
        }
    }
}