.Navbar {
  background-color: white;
  font-family: "Roboto";
  width: 100%;
  height: 80px;

  border-bottom: 2px solid #dadbe2;

  .Navbar_content {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
