.SearchBar {
  height: 100%;
  width: 40%;
  form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    input {
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid rgba(128, 128, 128, 0.5);
      width: 100%;
      height: 35px;
      padding: 0 6px;
      color: rgba($color: #000000, $alpha: 0.5);
      transition: border-color 150ms;
      &::-webkit-input-placeholder {
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 500;
        opacity: 0.8;
        letter-spacing: 0.5px;
        color: "red";
      }
      &:hover {
        cursor: pointer;
        border-color: #ff5650;
      }
      &:focus {
        border-color: #ff5650;
      }
    }
  }
}
